<section>
    <form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form">
      <h3 class="ui">Log In</h3>
      <div class="field">
        <label for="username">username:</label>
        <input type="text" id="username" formControlName='username'>
      </div>
      <div class="field"> 
        <label for="password">password:</label>
        <input type="password" id="password" formControlName='password'>
      </div>
      <button type='submit' class="ui positive right floated button loginbtn">Log In</button>
      <div *ngIf='errorMsg' class='ui red label'>{{errorMsg}}</div>
    </form>
    </section>